<div class="container">
  <h1 class="h1-languages-title brdr-btm">My Programming Experience</h1>
  <div class="col-md-6" >
  <div class="col-md-4" style="height:325px;border-bottom:1px solid black;" >
      <h2 class="h2-languages-subtitle">Languages</h2>
      <ul>
        <li><span class="span-prglang">C++</span></li>
        <li><span class="span-prglang">C</span></li>
        <li><span class="span-prglang">C#</span></li>
        <li><span class="span-prglang">Python</span></li>
        <li><span class="span-prglang">Java</span></li>
        <li><span class="span-prglang">Swift</span></li>
        <li><span class="span-prglang">SQL</span></li>
        <li><span class="span-prglang">ActionScript</span></li>
      </ul>

  </div>

  <div class="col-md-4" style="height:325px;border-bottom:1px solid black;" >
    <h2 class="h2-languages-subtitle">IDE's</h2>
    <ul>
      <li><span class="span-prglang">Visual Studio</span></li>
      <li><span class="span-prglang">Eclipse</span></li>
      <li><span class="span-prglang">Atom</span></li>
      <li><span class="span-prglang">XCode</span></li>
      <li><span class="span-prglang">Vim</span></li>
    </ul>

  </div>
  <div class="col-md-4" style="height:325px;border-bottom:1px solid black;" >
    <h2 class="h2-languages-subtitle">Web Development</h2>
    <ul>
      <li><span class="span-prglang">AngularJS</span></li>
      <li><span class="span-prglang">ASP.net</span></li>
      <li><span class="span-prglang">HTML, JavasScript and CSS</span></li>
      <li><span class="span-prglang">D3.js</span></li>
      <li><span class="span-prglang">dotnetcharting</span></li>
      <li><span class="span-prglang">MongoDB</span></li>
      <li><span class="span-prglang">SQL</span></li>
    </ul>
  </div>
  <div class="row" style="border-bottom:1px solid black;" >
    <div class="col-md-4">
      <img src="/files/Website.PNG" class="img-left" style="margin-top:35px;" alt="My Personal Website" onclick="window.open('https://github.com/Mike-Stupich/Mike-Stupich.github.io')">
  </div>
  <div class="col-md-8">
    <p class="p-desc">A personal project of mine. I learned Angular.js on my own time so that I could make a personal website.
      I built on some of the web development skills I learned while working at Public Health Agency of Canada, as well as some of
      my own creativity to come up with the design of my website.
    </p>
    <div style="text-align:center; margin:0;">
      <a class="btn btn-sm btn-primary" href="https://github.com/Mike-Stupich/Mike-Stupich.github.io">
      View the code</a></div><br />
  </div>

  </div>
  <br />
  <div class="row">
    <p class="p-desc">Here are some of the webpages I have worked on while employed at Public Health Agency of Canada</p>
    <ul class="ul-res">
      <li><a href="http://infobase.phac-aspc.gc.ca/datalab/head-injury-interactive-en.html">Concussion Infographic</a></li>
      <li><a href="http://infobase.phac-aspc.gc.ca/cdiif/">Chronic Disease and Injury Indicator Framework</a></li>
      <li><a href="http://66.240.150.18/PHAC/CCDSS/CCDSS-SCSMC">Canadian Chronic Disease Surveillance System infographic</a></li>
      <li><a href="http://infobase.phac-aspc.gc.ca/positive-mental-health/">Positive Mental Health Surveillance Indicator Framework</a></li>
      <li>As well as several more which are still under development</li>
    </ul>
  </div>
</div>
  <div class="col-md-6" style="border-left:1px solid black">
    <h2 class="h2-home" >Some Of My Projects</h2>
<br/>
    <div class="row" style="border-bottom:1px solid black;">
      <div class="col-md-4">
        <img src="/files/Networks.PNG" class="img-left" alt="Networking Project" onclick="window.open('https://github.com/Mike-Stupich/Computer_Networks_Final_Project')">
      </div>
      <div class="col-md-8">
         <p class="p-desc">My third year networking project.
         Developed my own algorithm to simulate an efficient way to sort beacons,
         so that they cover the entirety of a given range.</p>
         <br />
         <div style="text-align:center; margin:0;"><a class="btn btn-sm btn-primary" href="https://github.com/Mike-Stupich/Computer_Networks_Final_Project">
         View the code</a></div> <br/>
       </div>
    </div>
<br />
    <div class="row" style="border-bottom:1px solid black;">
      <div class="col-md-8">
        <p class="p-desc">An operating systems project. Modified the ls command in the
        Linux operating system. Added two extra commands, -M and --depth.</p>
        <br />
        <div style="text-align:center; margin:0;"><a class="btn btn-sm btn-primary" href="https://github.com/Mike-Stupich/Modifying_ls_Command">
         View the code</a></div><br />
       </div>
       <div class="col-md-4">
         <img src="/files/lsM.png" class="img-right" style="margin-bottom:10px;" alt="Operating Systems Project" href="window.open('https://github.com/Mike-Stupich/Modifying_ls_Command')">
       </div>
    </div>
<br />
    <div class="row">
      <div class="col-md-4">
      <img src="/files/NavU.png" class="img-left-portrait" alt="Operating Systems Project" href="window.open('https://github.com/TheBearCode/NavU')">
    </div>
      <div class="col-md-8">
        <p class="p-desc">A software enginnering project. Worked in a group to devlop
        an Android app which allows users to navigate between rooms and buildings on Carleton University campus.</p>
        <br />
        <div style="text-align:center; margin:0;"><a class="btn btn-sm btn-primary" href="https://github.com/TheBearCode/NavU">
         View the code</a></div>
      </div>
    </div>

  </div>
</div>
