
<!--<div class="container">
  <div class="section-resume">
    <div class="res-info">
      <h4 class="h4-title">Michael Stupich</h4>
      <p class="p-res-pers">280 Clarence Street<p>
      <p class="p-res-pers">Ottawa, Ontario, K1N 5R3<p>
      <p class="p-res-pers">613-325-0302<p>
      <p class="p-res-pers"><a href="mailto:mike.stupich@gmail.com">mike.stupich@gmail.com</a><p>
      <p class="p-res-pers"><a href="https://github.com/Mike-Stupich">Github/Mike-Stupich</a><p>
    </div>
    <div class="col-md-6 brdr-rgt">
    <div class="res-edu">
      <h3 class="h3-title">Education</h3>
      <h4 class="h4-subtitle">Bachelor of Computer Science, 2014-Present</h4>
      <h4 class="h4-subtitle">Computer and Internet Security Stream</h4>
      <p class="">Carleton University, Ottawa, Ontario</p>
      <ul class="ul-res">
        <li>Currently in third year, Current CGPA 8.75 (B+)</li>
        <li>Carleton University Entrance Scholarship based on a academic merit</li>
        <li>Assembled and programmed several robots, using both classical and behaviour-based
        programming to perform complex tasks such as wall following, obstacle avoidance, object analysis</li>
        <li>Created a beacon sorting program which implemented my own sorting algorithm and UI to simulate the movements along a give range</li>
      </ul>
      <h4 class="h4-subtitle">A.Y. Jackson Secondary School, Ottawa, Ontario               2010-2014</h4>
      <ul class="ul-res">
        <li>Academic Honour Roll for all four years of high school</li>
        <li>Graduated as an Ontario Scholar</li>
        <li>Worked as part of a team to develop an educational game for the Blackberry
        PlayBook for an audience of younger students using ActionScript</li>
      </ul>
    </div>
    <div class="res-tech">
      <h3 class="h3-title">Skills and Abilities</h3>
      <ul class="ul-res">
        <li>Programming experience with Python, C, C#, C++, Java, ActionScript</li>
        <li>Web development experience with Angular.js, ASP.net as well as JavaScript, HTML and CSS on their own</li>
        <li>Experience with web charting tools such as d3.js and dotnetcharting</li>
        <li>Experience with SQL and MongoDB databases including creating queries to build relational databases to be used in webpages</li>
        <li>Strong understanding of various data structures and algorithms</li>
        <li>Experience in programming robots to analyze the environment and react to obstacles</li>
        <li>Effective in group programming projects and team oriented work</li>
        <li>Experience in documenting code to create easily readable code</li>
        <li>Skilled at simplifying complex problems by breaking them down into several simpler tasks</li>
        <li>Ability to explain high-level technical concepts or ideas in plain language to end users and clients</li>
        <li>Self motivated and willing to learn new tasks and offer new ideas. Reliable and able to work independently on assigned projects</li>
        <li>Fluent in reading, writing and speaking French</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 brdr-lft">
    <div class="res-work">
      <h3 class="h3-title">Work Experience</h3>
      <h4 class="h4-subtitle">Public Health Agency of Canada</h4>
      <h5 class="h5-work-desc">Web Developer May 2016 to August 2016, and October 2016 to present</h5>
        <ul class="ul-res">
          <li>Created SQL procedures to query large amounts of data to retrieve information used in infographics</li>
          <li>Worked with different teams to complete the programming aspects of several projects, including
            <a href="http://infobase,phac-aspc.gc.ca/datalab/head-injury-interactive-en.html">Concussion Infographic</a>
            , <a href="http://66.240.150.18/PHAC/CCDSS/CCDSS-SCSMC">Chronic Disease</a>, and other <a href="http://infobase.phac-aspc.gc.ca/cdiif/">Public Health</a> infobases</li>
          <li>Participated in regular meetings to revise, edit and prioritize project work</li>
          <li>Responsible for moving webpages to the production server to be accessed by the public</li>
          <li>Tasked with creating accessible webpages that meet the Canada.ca standard for the public</li>
        </ul>
      <h4 class="h4-subtitle">Loblaw Companies Limited, Kanata</h4>
      <h5 class="h5-work-desc">Overnight Merchandiser May 2015 to September 2015</h5>
        <ul class="ul-res">
          <li>Organized and replenished product inventory in a timely manner</li>
          <li>Maintained a clean and organized work area adhering to health, safety and sanitation standards</li>
          <li>Took initiative to become a certified electric forklift operator</li>
        </ul>
      <h4 class="h4-subtitle">Shoppers Drug Mart, Kanata</h4>
      <h5 class="h5-work-desc">Part Time Merchandiser August 2014 to September 2015</h5>
      <ul class="ul-res">
        <li>Assisted customers with locating and purchasing products</li>
        <li>Communicated clearly and positively with customers, coworkers and management</li>
        <li>Handled point of sale transactions</li>
        <li>Responsible for opening and closing the store</li>
      </ul>
    </div>
    <div class="res-extra">
      <h3 class="h3-title">Extracurricular Activities and Other Interests</h3>
        <ul class="ul-res">
          <li>Assembled several computers for myself and friends. Researched different components to ensure compatibility and quality while considering budgetary constraints</li>
          <li>Member of the Carleton University PC Gaming Club</li>
          <li>Certified Standard and Emergency Frist Aid and CPR</li>
          <li>Enjoy skiing, hockey, going to the gym and strategy games</li>
        </ul>
        <br />
    </div>
    <br />
        <br />
  </div >

  </div>

</div>-->
<div class="container">
  <div>
    <h3>Mike Stupich</h3>
    <div class="col-md-12">
    <p class="col-md-2"><em>Junior Developer</em></p><p class="col-md-2 col-md-offset-8">Ottawa, ON</p>
    <p class="col-md-2"><a href="mailto:github.com/mike-stupich">github.com/mike-stupich</a></p> <p class="col-md-2 col-md-offset-8"><a href="mailto:mike.stupich@gmail.com">mike.stupich@gmail.com</a></p>
    <p class="col-md-2"><a href="https://mike-stupich.github.io/">mike-stupich.github.io</a></p> <p class="col-md-2 col-md-offset-8">613 325 0302</p>
    <div class="col-md-8 col-md-offset-2">
      <h4>Work experience</h4>
      <p><strong>Web Applications Developer</strong>, Canada Revenue Agency &ndash; <em>May 2017 to End of August 2017</em></p>
      <ul>
      <li>Created and maintained new intranet webpages following accessibility guidelines</li>
      <li>Unit tested Java web apps using Struts 2</li>
      </ul>
      <br />
      <p><strong>Web Developer</strong>, Public Health Agency of Canada &ndash; <em>May 2016 to April 0217</em></p>
      <ul>
      <li>Redesigned infographic pages into more user-friendly and accessible webpages</li>
      <li>•	Developed and maintained webpages created in ASP.net</li>
      </ul>
      <br />
      <h4>Side Projects</h4>
      <p><strong><a href="https://github.com/Mike-Stupich/Solidity-Lottery">Solidity-Lottery</a></strong>: Creating a lottery DApp using React frontend and Solidity smart contracts</p>
      <p><strong>Clevermine</strong>: Collaborating on a mining optimization and management software</p>
      <p><strong><a href="https://github.com/HenryNguyen5/Scripttrex">Scripttrex</a></strong>: Collaborating to create scripts that interact with crypto exchange sites</p>
      <br />
      <h4>Education</h4>
      <p>Current Student in Computer Science, Carleton University &ndash; <em>Graduate April 2018</em></p>
      <ul>
      <li>Altered Linux kernel code to change behaviour of core function</li>
      <li>Designed and implemented a beacon optimization algorithm in Java</li>
      </ul>
      <h4>Technical Skills</h4>
      <p>Solidity, React, Redux, ES6, SQL, MongoDB, Node.js, Git</p>
    </div>
  </div>
</div>
</div>
<br/>
<div style="margin:0; text-align:center;" >
  <a class="btn btn-primary btn-sm" 
    download="MikeStupichResume2017.pdf" 
    target="_self" 
    href="/files/MikeStupich2017Resume.pdf"
  >Download Resume</a>
</div>
