
<div class="container">
  <div class="section-resume">
    <div class="col-md-6">
    <div class="res-info">
      <h4 class="h4-title">Michael Stupich</h4>
      <p class="p-res-pers">280 Clarence Street<p>
      <p class="p-res-pers">Ottawa, Ontario, K1N 5R3<p>
      <p class="p-res-pers">613-325-0302<p>
      <p class="p-res-pers"><a href="mailto:mike.stupich@gmail.com">mike.stupich@gmail.com</a><p>
      <p class="p-bio-text"><a href="https://github.com/Mike-Stupich">Github/Mike-Stupich</a><p>
    </div>
    <div class="row-brdr-btm"></div>
    <div class="res-edu">
      <h3 class="h3-title">Education</h3>
      <h4 class="h4-subtitle">Bachelor of Computer Science,           2014-Present</h4>
      <h4 class="h4-subtitle">Computer and Internet Security Stream</h4>
      <p class="">Carleton University, Ottawa, Ontario</p>
      <ul class="ul-res">
        <li>Currently in third year, Current CGPA 8.75 (B+)</li>
        <li>Carleton University Entrance Scholarship based on a academic merit</li>
        <li>Assembled and programmed several robots, using both classical and behaviour-based
        programming to perform complex tasks such as wall following, obstacle avoidance, object analysis</li>
      </ul>
      <h4 class="h4-subtitle">A.Y. Jackson Secondary School, Ottawa, Ontario               2010-2014</h4>

    </div>
    <div class="res-tech">
    </div>
  </div>
  <div class="col-md-6">
    <div class="res-work">
    </div>
    <div class="res-extra">
    </div>
  </div>
    <a class="a-download" download="MikeStupichResume2017.pdf" target="_self" href="/files/MikeStupich2017Resume.docx">Download Resume</a>
  </div>
</div>
